<h1>All Tags</h1>

<ul id="tags">
  <% @tag.each do |t| %>
    <li>
    <%= link_to t.name, tag_path(id: t.id),
        class: 'tag_name', id: "tag#{t.id}"%>
    </li>
    <% if logged_in? %>
      <div class="button">
        <%= link_to "Delete", tag_path(t.id), method: :delete, data: {confirm: "Are you sure you would like to delete this tag?"} %>
      </div>
    <% end %>
  <% end %>
</ul>

<br>
<div class="button"><%= link_to "<< Back to Articles List", articles_path %></div>